@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";

/* =========================
   ROOT COLOR TOKENS
   ========================= */
:root {
  --tamil-black: #0A0A0A;
  --tamil-black-soft: #141414;

  --tamil-white: #FFFFFF;
  --tamil-white-muted: rgba(255, 255, 255, 0.7);

  --tamil-orange: #F65900;
  --tamil-orange-light: #FF7020;

  --tamil-border: rgba(255, 255, 255, 0.08);
  --tamil-shadow: rgba(0, 0, 0, 0.6);
}

/* =========================
   FONT UTILITIES
   ========================= */

/* Retro pixel – headings, hero, buttons */
.font-pixel {
  font-family: "Press Start 2P", system-ui;
  letter-spacing: 0.05em;
}

/* Retro terminal – body text, descriptions */
.font-terminal {
  font-family: "VT323", monospace;
  letter-spacing: 0.02em;
}


/* =========================
   GLOBAL BASE
   ========================= */
body {
  min-height: 100vh;
  background: var(--tamil-black);
  color: var(--tamil-white);
  font-family: "Press Start 2P", system-ui;
}

/* =========================
   SCROLLBAR
   ========================= */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--tamil-black-soft);
}

::-webkit-scrollbar-thumb {
  background: var(--tamil-orange);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tamil-orange-light);
}

/* =========================
   CUSTOM SCROLL (SCOPED)
   ========================= */
.myScroll {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: var(--tamil-orange) transparent;
}

/* Chrome, Edge, Safari */
.myScroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* for horizontal scroll */
}

.myScroll::-webkit-scrollbar-track {
  background: transparent;
}

.myScroll::-webkit-scrollbar-thumb {
  background: var(--tamil-orange);
  border-radius: 6px;
}

.myScroll::-webkit-scrollbar-thumb:hover {
  background: var(--tamil-orange-light);
}


/* .myScroll.dark::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
} */

/* =========================
   GLOBAL TRANSITIONS
   ========================= */
* {
  transition: background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease;
}

.container {
  max-width: 1480px;
}